* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--SvgColor)
}

:root {
    --MainFont: 'Montserrat', sans-serif;
	--SvgColor: #666666;
	--WhiteBG: #FFFFFF;
	--MainBG: 	#f0f0f0;
	--AsignBG: 	#D9D9D9;
	--SourceBG: #D7C4C4;
    --SpaceBG: linear-gradient(203.53deg, rgb(41, 39, 39) 9.19%, #2E202E 85.54%);
    --SpaceTrBG: linear-gradient(203.53deg, rgba(41, 39, 39, 0.3) 5%, #2E202E 85.54%);
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 640px;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    background: var(--MainBG);
    font-family: var(--MainFont);
    font-size: 1em;
    font-weight: 600;
}

header {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    background: var(--WhiteBG);
}

header > .nasa-logo {
    width: 20%;
    height: auto;
    background: center / contain no-repeat url(./../resources/svg/nasa-logo.svg);
}

main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 90%;
    background: var(--MainBG);
}

.title {
    display: flex;
    flex-flow: row nowrap;
    width: 95%;
    height: 5%;
    align-items: flex-end;
}

.title > h1 {
    font-size: 1.5vw;
    text-indent: 5%;
    white-space: nowrap;
    margin-left: calc(5%/3);
}

.astro-section {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

.map-wrapper {
    display: flex;
    width: 50%;
    height: 90%;
    background-image: var(--SpaceTrBG), url(./../resources/pictures/starsBG.png);
    align-self: center;
    position: relative;
    border: 1px solid var(--SvgColor);
    border-radius: 15px;
    overflow: hidden;
}

.earth {
    min-width: 100px;
    height: 100px;
    background: url(./../resources/svg/earth.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.arc {
    background: transparent;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
    top: -50px;
    left: -50px;
}

.asteroid {
    display: flex;
    width: 3rem;
    height: 3rem;
    background: center / contain no-repeat;
    background-image: url(./../resources/svg/asteroid.svg);
    position: absolute;
    rotate: 90deg;
    border: none;
    z-index: 1;
    cursor: pointer;
    transition: 1s;
}

.asteroid:hover {
    transform: scale(1.2);
}

.margin-wrapper {
    height: auto; 
    width: 100%;
    margin: 10%;
    position: relative;
    transform: scale(1.15);
}

.margin-wrapper > * {
    position: absolute;
}

.info-section {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    height: 90%;
    justify-content: space-between;
}

.asteroid-info {
    width: 100%;
    height: 85%;
    background: var(--AsignBG);
    padding: 5%;
    border: 1px solid var(--SvgColor);
    border-radius: 15px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.asteroid-info::-webkit-scrollbar {
    display: none;
  }

.asteroid-info p {
    color: var(--SvgColor);
    font-size: 1vw;
}

.info-block {
    width: 100%;
    margin-bottom: 5%;
    font-size: 1vw;
}

.info-block h2 {
    font-size: 1.2vw;
}

.title-block {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 3%;
    align-items: center;
    color: #292929;
}

.name-icon {
    margin-right: 5%;
    width: 2rem;
    height: 2rem;
    background: center / contain no-repeat;
}

#name { background-image: url(./../resources/svg/black-icons/name.svg); }
#diameter { background-image: url(./../resources/svg/black-icons/diameter.svg); }
#close-a-date { background-image: url(./../resources/svg/black-icons/close-a-date.svg); }
#velocity { background-image: url(./../resources/svg/black-icons/velocity.svg); }
#velocity { background-image: url(./../resources/svg/black-icons/velocity.svg); }
#hazardous { background-image: url(./../resources/svg/black-icons/hazardous.svg); }

nav {
    display: none;
}

footer {
    display: none;
}

.modal {
    display: none;
}

@media (max-width: 800px) {
    
    .title {
        width: 90%;
        height: 5%;
        margin-left: 5%;
        align-items: flex-end;
    }

    nav {
        display: flex;
        width: 100%;
        max-height: 80px;
        align-self: center;
        justify-content: center;
        align-items: center;
        padding: 3%;
    }

    .NavButton {
        display: flex;
        width: 25%;
        height: 50px;
        background: var(--SpaceBG);
        justify-content: center;
        align-items: center;
        border: 1px solid var(--SvgColor);
        border-radius: 15px;
        cursor: pointer;
    }

    .NavButton > * {
        color: var(--AsignBG);
        font-family: var(--MainFont);
        font-size: 2vw;
        font-weight: 600;
    }

    .NavButton:first-child {
        margin-right: 5%;
    }

    .title > h1 {
        font-size: 3vw;
		text-indent: 5%;
    }

    main {
        height: 100%;
    }

    .map-wrapper {
        width: 90%;
        height: 100%;
    }

    .modal {
        display: flex;
        flex-flow: column nowrap;
        width: 95%;
        background: rgba(255,255,255,0.3);
        left: 2.5%;
        bottom: 2%;
        padding: 3%;
        align-self: end;
        position: absolute;
        border-radius: 10px;
        color: var(--WhiteBG);
        z-index: 1;
    }

    .modal * {
        font-size: 2vw;
    }

    .name-icon {
        width: 1.3em;
        height: 1.3em;
    }

    #name { background-image: url(./../resources/svg/white-icons/name.svg); }
    #diameter { background-image: url(./../resources/svg/white-icons/diameter.svg); }
    #close-a-date { background-image: url(./../resources/svg/white-icons/close-a-date.svg); }
    #velocity { background-image: url(./../resources/svg/white-icons/velocity.svg); }
    #velocity { background-image: url(./../resources/svg/white-icons/velocity.svg); }
    #hazardous { background-image: url(./../resources/svg/white-icons/hazardous.svg); }

    .info-block {
        display: flex;
        margin: 0 0 1% 1%;
        align-items: center;
    }

    .info-block h2 {
        font-size: 2vw;
        margin-right: 1%;
    }

    .info-section {
        display: none;
    }

    footer {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 0 auto;
        height: 5%;
        background: var(--WhiteBG);
        padding: 1% 0 0 5%;
        align-items: center;
        color: var(--SvgColor);
        font-size: 3vw;
    }

    .calendar {
        width: 1.3em;
        height: 1.3em;
        background: center / contain no-repeat url(./../resources/svg/calendar.svg);
        margin: 0 5% 0 3%;
    }

    .margin-wrapper {
        margin: 3%;
        transform: none;
    }
}